* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: antiquewhite;
  display: flex;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  min-width: 100vw;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
}

.sidenav {
  height: 100%;
  width: 170px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0d0d0d;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.sidenav .houseicon {
  font-size: 3rem;
}
.sidenav .houseicon:hover {
  color: #818181;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #818181;
}

.hero-container {
  background-repeat: none;
  background-size: cover;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  color: #0d0d0d;
  background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80);
}

.hero-title {
  font-size: 2rem;
  text-align: center;
  width: 100vh;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.products .product-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 36px;
  margin-top: 10%;
  cursor: pointer;
}
.products .product-cards img {
  border-radius: 12px;
}
.products .product-cards .cards:hover {
  transform: scale(1.1);
}
.products .product-cards .Event-info {
  font-size: large;
}
.products .product-cards button {
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
}
.products .product-cards button:hover {
  transform: scale(1.1);
}
@media (max-width: 900px) {
  .products {
    flex-direction: column;
  }
}

.formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid black 5px;
  padding: 1rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.eventform input, .eventform select {
  font-size: 2rem;
  padding: 10px;
}
.eventform button {
  font-size: 2rem;
  padding: 10px;
}

.omossbild-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.omossbild-container img {
  border-radius: 12px;
}
.omossbild-container img:hover {
  scale: 1.1;
}

.omoss-info {
  font-size: 1.5rem;
  display: flex;
}

.omoss-text {
  grid-column-start: 1;
  grid-column-end: 3;
}

.vd-kontakt {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  gap: 1rem;
  font-size: large;
}
.vd-kontakt .qoute {
  font-size: 2rem;
  padding-top: 6rem;
}

.omossbild-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.omossbild-container img {
  border-radius: 12px;
}
.omossbild-container img:hover {
  scale: 1.1;
}

.omoss-info {
  font-size: 1.5rem;
  display: flex;
}

.omoss-text {
  grid-column-start: 1;
  grid-column-end: 3;
}

.bokaevent-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.bokaevent-container img {
  border-radius: 12px;
}
.bokaevent-container img:hover {
  scale: 1.1;
}

.bokaevent-info {
  font-size: 1.5rem;
  display: flex;
}

.bokaevent-text {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: large;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}/*# sourceMappingURL=styles.css.map */